<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SauceLabsTestSuite">

	<parameter name="appURL" value="https://www.saucedemo.com/v1/index.html" />
    
    <!--Provide the credentials if running this xml from an IDE as TestNG suite-->
    <parameter name="SLusername" value="" />
	<parameter name="SLaccessKey" value="" />

	<test name="SauceLabsTest">
		<classes>
			<class name="com.testautomation.tests.Test01"/>
		</classes>
	</test>
</suite>